.App {
  /* font-size: 25px; */
  font-family: Arial, Helvetica, sans-serif;
}
/* Header--------------------------------------------- */

header {
  display: flex;
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 90vw;
  margin: 0 auto;
}

header img {
  width: 140px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: auto;
  max-width: 38%;
}
.search input {
  width: 480px;
  height: 35px;
  background-color: #f5f6f7;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 15px;
  color: rgb(177, 172, 172);
  border: none;
}
::placeholder {
  color: rgb(181, 179, 179);
  font-size: 15px;
}
.priceSelect {
  display: flex;
  justify-content: space-around;
  width: 170px;
  height: 35px;
  /* background-color: pink; */
}
.priceSelect input {
  width: 60px;
  color: #2db0ba;
  border: 1px #2db0ba solid;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 8px;
}
.but0 {
  height: 37px;
  width: 140px;
  background-color: #c2175b;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
}

.but1,
.but2 {
  height: 37px;
  width: 140px;
  color: #2db0ba;
  font-size: 15px;
  background-color: #fff;
  border: 1px #2db0ba solid;
  border-radius: 5px;
  gap: 50px;
  margin-left: 30px;
}

.but3 {
  height: 37px;
  width: 140px;
  color: #fff;
  font-size: 15px;
  background-color: #2db0ba;
  border: 1px #2db0ba solid;
  border-radius: 5px;
  margin-left: 60px;
}

.sortOf {
  display: flex;
  height: 30px;
  width: 200px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  /* background-color: pink; */
  margin-top: 5px;
}

.asc button {
  border: 1px #2db0ba solid;
  height: 25px;
  width: 25px;
  border-radius: 60%;
  background-color: #2db0ba;
  color: #fff;
}

/* Home -----------------------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  background-image: url(https://lereacteur-vinted.netlify.app/static/media/hero.2c66d85a1335550c4518.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}

.homeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  height: 300px;
  width: 400px;
  margin-left: 5%;
  line-height: 45px;
  margin-top: 90px;
}
.homeP {
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 30px;
  font-size: 30px;
}

.homeBut {
  height: 45px;
  width: 200px;
  color: #fff;
  font-size: 17px;
  background-color: #2db0ba;
  border: 1px #2db0ba solid;
  border-radius: 5px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.heroImg img {
  margin-top: 100px;
  height: auto;
  width: 100vw;
  position: absolute;
}

.listOfOffers img {
  height: 300px;
  /* border: 1px solid black; */
}
.listOfOffers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  margin-top: 100px;
  /* background-color: pink; */
}
.avatar p {
  text-decoration: none;
  color: rgb(147, 145, 145);
}

.product {
  display: flex;
  color: grey;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  height: 500px;
  width: 300px;
  /* border: 1px #2db0ba solid; */
  margin-bottom: 25px;
}
.product img {
  height: 420px;
  width: 280px;
  margin-top: 20px;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}

.avatar {
  display: flex;
  height: 30px;
  /* background-color: pink; */
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.above {
  margin-top: 10px;
}
/* page offer------------------------------------------------------------ */

.response {
  background-color: rgb(226, 223, 223);
  height: 100vh;
}
.offerGlobal {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}

.offerPicture img {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
  object-fit: cover;
  margin-top: 40px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}

.offerDescription {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  width: 40%;
  height: 700px;
  margin-top: 40px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}
.straigth {
  border-bottom: 1px rgb(186, 185, 185) solid;
  width: 70%;
  margin-left: 12%;
  margin-top: 65px;
  margin-bottom: 45px;
}
.price {
  display: flex;
  /* background-color: pink; */
  font-size: 27px;
  margin-left: 50px;
  margin-top: 35px;
  margin-bottom: 20px;
}
.offerDescription p {
  display: flex;
  padding: 30px 0 0 30px;
  height: 15px;
}
.text {
  display: flex;
  padding: 0 0 0 35px;
  /* background-color: pink; */
}

.key {
  color: rgb(186, 185, 185);
  width: 30%;
}
.icon {
  display: flex;
  width: 95%;
  /* background-coslor: pink; */
  justify-content: flex-end;
}

.nameAndBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  /* background-color: pink; */
}
.buy {
  height: 42px;
  width: 350px;
  color: #fff;
  font-size: 18px;
  background-color: #2db0ba;
  border: 1px #2db0ba solid;
  border-radius: 5px;
}

/* page login------------------------------------------------------------ */

.globLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  /* background-color: yellowgreen; */
}
.globLogin1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
  width: 100vw;
}

.souLogin {
  height: 700px;
  width: 400px;
  /* background-color: pink; */
  margin-bottom: 220px;
}
.souLogin1 {
  height: 390px;
  width: 400px;
  /* background-color: pink; */
  margin-bottom: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  margin-top: 100px;
  /* background-color: yellowgreen; */
}
.souLogin h1,
.souLogin1 h1 {
  font-size: 25px;
}
.form input {
  display: flex;
  width: 90%;
  height: 50px;
  border: none;
  /* background-color: pink; */
  font-size: 16px;
  padding-left: 15px;
  border-bottom: 1px solid rgb(251, 206, 206);
}

.check1 input {
  height: 25px;
}

.checkbox {
  /* background-color: red; */
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(110, 107, 107);
  gap: 50px;
}

.policy {
  margin-left: 10px;
  font-size: 14px;
  color: rgb(110, 107, 107);
}

.inscripButton {
  height: 42px;
  width: 100%;
  color: #fff;
  font-size: 15px;
  background-color: #2db0ba;
  border: 1px #2db0ba solid;
  border-radius: 5px;
}
.z {
  color: #2db0ba;
}
a {
  text-decoration: none;
}

/* page publish------------------------------------------------------------ */

.container1 {
  height: 1000vh;
  width: 100vw;
  background-color: #f5f6f7;
}
.title {
  width: 900px;
  margin: 0 auto;
  padding: 40px 0 30px 0;
}
.pictureAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 150px;
  background-color: white;
  border: 1px rgb(223, 221, 221) solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
.layout {
  display: flex;
}
.secondBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 900px;
  height: 150px;
  background-color: white;
  border: 1px rgb(223, 221, 221) solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
.layout {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.layout1 {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  padding-bottom: 10px;
  border-bottom: 1px rgb(223, 221, 221) solid;
}

.layout2 {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.title1 {
  /* background-color: pink; */
  margin: 20px 0 0 20px;
  font-size: 15px;
  height: 60%;
}
.formInput {
  margin: 20px 0 0 0;
  width: 50%;
  /* background-color: blue; */
}
.formInput input {
  /* display: flex;
  flex-wrap: wrap; */
  border: none;
  height: auto;
  width: 90%;
  border-bottom: 1px rgb(223, 221, 221) solid;
}
.formInput textarea {
  /* background-color: #c2175b; */
  width: 90%;
  height: 80%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 1px rgb(223, 221, 221) solid;
}

.thirdBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 900px;
  height: 320px;
  background-color: white;
  border: 1px rgb(223, 221, 221) solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
.layout3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  border-bottom: 1px rgb(223, 221, 221) solid;
}
.forthBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 900px;
  height: 150px;
  background-color: white;
  border: 1px rgb(223, 221, 221) solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
.formInput2 {
  /* background-color: pink; */
  width: 50%;
}
.formInput2 input {
  margin-right: 15px;
  margin-top: 20px;
}
.addButton1Section {
  display: flex;
  justify-content: flex-end;
  /* background-color: blue; */
  width: 900px;
  height: 50px;
  margin: 0 auto;
}
.addButton {
  height: 42px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  background-color: #2db0ba;
  border: 1px #2db0ba solid;
  border-radius: 5px;
}

/* Modal-------------------------------------------------- */

/* .App {
  position: relative;
}

.mmodal-root {
  position: absolute;
  background-color: pink;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modal {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
  background-color: #fff;
  border: 1px solid #2db0ba;
}
.modal button {
  justify-content: center;
  border: #2db0ba;
  color: #2db0ba;
  background-color: #fff;
  border-radius: 5px;
  align-items: center;
  margin: 10px;
  border: 1px solid #2db0ba;
} */
